#mainContent
{
    max-width: 1200px;
    margin:auto;
}
h1
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    margin-left: 40%;
}
body{
    background-color: rgb(180, 248, 180);
}
#list
{
    width: 50%;
    margin:auto;
    position: relative;
    border: 1px solid darkgreen;
}
.item
{
    border:1px solid darkgreen;
    border-collapse:collapse;
    height: 75px;
    padding: 10px;
}
.itemtext
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    display: inline-block;
}
.delete
{
   float:right;
   background-color: darkgreen;
   color: white;
   text-align: center;
   padding: 6px 6px;
   font-size: 12px;
   border:none;
}
.check
{
   float:right;
   background-color: darkgreen;
   color: white;
   text-align: center;
   padding: 6px 6px;
   font-size: 12px;
   border:none;
}

#additem
{
    height: 75px;
    width: 50%;
    margin:auto;
    position: relative;
    border: 1px solid darkgreen;
    border-top:none;
    border-collapse:collapse;
}
#additemform
{
    display: inline-block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    margin-top: 4%;
    margin-left: 2%;
    border-radius: 6px;
}
#additembutton
{
    float:right;
    background-color: darkgreen;
   color: white;
   text-align: center;
   padding: 6px 6px;
   font-size: 12px;
   border:none;
   margin-top: 3.5%;
   margin-right: 2%;
}